<form #profileForm = "ngForm" (submit)="onSubmitForm(profileForm)">
    <div class="form-group">
        <label for="email">Email address</label>
        <!-- ngModel vs [ngModel] vs [(ngModel)] -->
        <input [(ngModel)]="profile.email" name="email" type="email" class="form-control" id="email"
            aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input required minlength="6" [(ngModel)]="profile.username" name="username" type="text" class="form-control" id="username"
            placeholder="Username" #username="ngModel">
        <div *ngIf="!username.valid && username.touched" class="alert alert-danger" role="alert">
            <p *ngIf="username?.errors?.required">
                Username is required
            </p>
            <p *ngIf="username?.errors?.minlength">
                The input must be of minium length 6 characters
            </p>
        </div>
    </div>
    <div class="form-check">
        <input [(ngModel)]="profile.check" name="check" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>