<!-- For session 2 demostration: communication between components-->
<!-- <div class="app-component">
    <input #name placeholder="Enter name here" value="">
    <button value="Add" (click)="addName(name.value)">Add</button>
    <p>Total students: {{names.length}}</p>
    <p *ngIf="removedStudentName">We have just removed the student: {{removedStudentName}}</p>
</div>
<div class="list-name-component">
    <app-list-name [list-name]="names" (removeLastStudent)="removeLastStudent($event)"></app-list-name>
</div> -->

<!-- For angular session 3 demostraion: template driven form -->
<!-- <div class="container">
    <app-profile-form></app-profile-form>
</div> -->


<!-- For angular session 3 demostraion: template driven form -->
<!-- <div class="container">
    <app-profile-submit-reactive></app-profile-submit-reactive>
</div> -->

<div class="container">
    <app-profile-reactive-form></app-profile-reactive-form>
</div>